/* .App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: #010101;
} */
.container{
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  background-color: rgb(228, 226, 226);
  border: 1px solid #2a2a2a;
  border-radius: 5px;
}
.title {
/* margin-left: 40px; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}

.formLabel {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 0 5px 0px;
}


.input {
  width: 50%;
  /* margin-left: 40px; */
  margin-bottom: 20px;
  border: 1px solid #a2a2a2;
}
.input::placeholder {
  font-family: 'Courier New', Courier, monospace;
}

.wrapper{
    display: flex;
flex-direction: column;    
}


.btn {
  font-family: 'Courier New', Courier, monospace;
  margin: 30px 0px;
  width: fit-content;
  padding: 5px 10px;
  align-items: center;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(146, 152, 162);
  color: aliceblue;
}

.btnDelete {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin-left: 10px;
  /* width: fit-content; */
  padding: 2px 2px;
  /* align-items: center; */
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  cursor: pointer;
}
.btnDelete:hover {
  background-color: rgb(146, 152, 162);
  color: aliceblue;
}

.customList {
List-style-type: none;
  counter-reset: my-counter;
}

.customList li {
  position: relative;
  padding-left: 0px; /* Регулируйте отступ слева, чтобы точка была по середине строки */
  margin-bottom: 10px; /* Регулируйте, если нужен отступ между элементами списка */
  display: flex; /* Используем flex, чтобы выровнять текст и точку */
  align-items: center; /* Выравниваем по центру вертикали */
}

.customList li:before {
  content: '\2022'; /* Юникод-символ крупной точки */
  font-size: 24px; /* Регулируйте размер точки по желанию */
  margin-right: 10px; /* Отступ между точкой и текстом */
  line-height: 1; 
}
.listWrapper{
    width: 170px;
    /* padding: 15px;
    border: 1px solid;*/
    /* border-radius: 5px;  */
    /* background-color: #e0dede; */
}